In [2]:
# Eksik değerlerin incelenmesi

In [13]:
import seaborn as sns 
planets = sns.load_dataset("planets")
df_planets = planets.copy()
df_planets.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [14]:
# hiç eksik gözlem(değer) var mı?
df_planets.isnull().values.any()

True

In [15]:
# hangi değişkende kaçar tane var
df_planets.isnull().sum()

method              0
number              0
orbital_period     43
mass              522
distance          227
year                0
dtype: int64

In [16]:
df_planets["orbital_period"].fillna(0,inplace = True) # eksik değerleri 0 ile doldurma
df_planets.isnull().sum()

method              0
number              0
orbital_period     43
mass              522
distance          227
year                0
dtype: int64

In [18]:
df_planets["maas"].fillna(df_planets.maas.mean(),inplace = True) # eksik değerleri ortalama ile dolduruyoruz
df_planets.isnull().sum()

AttributeError: 'DataFrame' object has no attribute 'maas'