# Gözlem ve Değişken Seçimi : Loc & iLoc

In [2]:
import numpy as np
import pandas as pd
m = np.random.randint(1,30,(10,3))
df = pd.DataFrame(m, columns = ["var1","var2","var3"])
df

   var1  var2  var3
0    18     5    12
1    10    19    29
2    24    10    28
3     5    11    25
4     6    19    21
5     2    28    26
6    21     6    21
7     9     9     8
8    11    14    19
9    29     1    21

In [3]:
# loc : tanımlandığı şekli ile seçim yapmak için kullanılır

In [4]:
df.loc[0:3]

   var1  var2  var3
0    18     5    12
1    10    19    29
2    24    10    28
3     5    11    25

In [5]:
# iloc : alışık olduğumuz indeksleme mantığı ile seçim yapar

In [6]:
df.iloc[0:3]

   var1  var2  var3
0    18     5    12
1    10    19    29
2    24    10    28

In [7]:
df[0:3]

   var1  var2  var3
0    18     5    12
1    10    19    29
2    24    10    28

In [8]:
df.iloc[0,0]

18

In [10]:
#df[0,0] # hata verir

In [11]:
df.iloc[:3,:2]

   var1  var2
0    18     5
1    10    19
2    24    10

In [14]:
#df.loc[0:3,0:2] # hata verir

In [ ]:
df.loc[0:2]

In [ ]:
df.loc[0:2,"var3"]

In [15]:
# df.iloc[0:2,"var3"] # hata alırız

In [16]:
df.iloc[0:2]["var3"]

0    12
1    29
Name: var3, dtype: int32

In [19]:
df

   var1  var2  var3
0    18     5    12
1    10    19    29
2    24    10    28
3     5    11    25
4     6    19    21
5     2    28    26
6    21     6    21
7     9     9     8
8    11    14    19
9    29     1    21

In [24]:
df.loc[2]

var1    24
var2    10
var3    28
Name: 2, dtype: int32