# Gözlem ve Değişken Seçimi : Loc & iLoc

In [2]:
import numpy as np
import pandas as pd
m = np.random.randint(1,30,(10,3))
df = pd.DataFrame(m, columns = ["var1","var2","var3"])
df

   var1  var2  var3
0    19     5     3
1     2    14     5
2    13     2     3
3     8    24    23
4    23     1    22
5    15     6    22
6    15    22     9
7    23    26     5
8    23    18    22
9    18    23    23

In [3]:
# loc : tanımlandığı şekli ile seçim yapmak için kullanılır

In [4]:
df.loc[0:3]

   var1  var2  var3
0    19     5     3
1     2    14     5
2    13     2     3
3     8    24    23

In [5]:
# iloc : alışık olduğumuz indeksleme mantığı ile seçim yapar

In [6]:
df.iloc[0:3]

   var1  var2  var3
0    19     5     3
1     2    14     5
2    13     2     3

In [7]:
df[0:3]

   var1  var2  var3
0    19     5     3
1     2    14     5
2    13     2     3

In [8]:
df.iloc[0,0]

19

In [9]:
#df[0,0] # hata verir

In [10]:
df

   var1  var2  var3
0    19     5     3
1     2    14     5
2    13     2     3
3     8    24    23
4    23     1    22
5    15     6    22
6    15    22     9
7    23    26     5
8    23    18    22
9    18    23    23

In [11]:
df.iloc[:3,:2]

   var1  var2
0    19     5
1     2    14
2    13     2

In [12]:
#df.loc[0:3,0:2] # hata verir

In [13]:
df.loc[0:2]

   var1  var2  var3
0    19     5     3
1     2    14     5
2    13     2     3

In [14]:
df.loc[0:2,"var3"]

0    3
1    5
2    3
Name: var3, dtype: int32

In [15]:
# df.iloc[0:2,"var3"] # hata alırız

In [19]:
df.iloc[0:3]["var3"]

0    3
1    5
2    3
Name: var3, dtype: int32

In [17]:
df

   var1  var2  var3
0    19     5     3
1     2    14     5
2    13     2     3
3     8    24    23
4    23     1    22
5    15     6    22
6    15    22     9
7    23    26     5
8    23    18    22
9    18    23    23

In [18]:
df.loc[2]

var1    13
var2     2
var3     3
Name: 2, dtype: int32

In [20]:
df

   var1  var2  var3
0    19     5     3
1     2    14     5
2    13     2     3
3     8    24    23
4    23     1    22
5    15     6    22
6    15    22     9
7    23    26     5
8    23    18    22
9    18    23    23

In [29]:
df.loc[0:2,0:1]

TypeError: cannot do slice indexing on Index with these indexers [0] of type int