# Eksik değerlerin incelenmesi

In [13]:
import seaborn as sns 
planets = sns.load_dataset("planets")
df_planets = planets.copy()
df_planets.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [14]:
# hiç eksik gözlem(değer) var mı?
df_planets.isnull().values.any()

True

In [15]:
# hangi değişkende kaçar tane var
df_planets.isnull().sum()

method              0
number              0
orbital_period     43
mass              522
distance          227
year                0
dtype: int64

In [20]:
df_planets["orbital_period"].fillna(0,inplace = True) # eksik değerleri 0 ile doldurma
df_planets.isnull().sum()

method              0
number              0
orbital_period      0
mass              522
distance          227
year                0
dtype: int64

In [27]:
df_planets["mass"].fillna(df_planets.mass.mean(),inplace = True) # eksik değerleri ortalama ile dolduruyoruz
df_planets.isnull().sum()

method            0
number            0
orbital_period    0
mass              0
distance          0
year              0
dtype: int64

In [28]:
df_planets.fillna(df_planets.mean(),inplace=True) # veri setindeki tüm eksik değelerin yerine ortalama değerleri atanmış olur
df_planets.isnull().sum()

C:\Users\musta\AppData\Local\Temp\ipykernel_13220\3803000646.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df_planets.fillna(df_planets.mean(),inplace=True)

method            0
number            0
orbital_period    0
mass              0
distance          0
year              0
dtype: int64

In [29]:
df_planets.mean()

C:\Users\musta\AppData\Local\Temp\ipykernel_13220\66337980.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df_planets.mean()

number               1.785507
orbital_period    2002.917596
mass                 2.638161
distance           264.069282
year              2009.070531
dtype: float64

In [31]:
df2_planets = planets.copy()
df2_planets.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [32]:
df2_planets.isnull().sum()

method              0
number              0
orbital_period     43
mass              522
distance          227
year                0
dtype: int64