# Tahmine Dayalı Değer Atama Yöntemleri

In [2]:
import seaborn as sns
import missingno as msno
df = sns.load_dataset('titanic')
df = df.select_dtypes(include = ['float64', 'int64'])
print(df.head())
df.isnull().sum()

   survived  pclass   age  sibsp  parch     fare
0         0       3  22.0      1      0   7.2500
1         1       1  38.0      1      0  71.2833
2         1       3  26.0      0      0   7.9250
3         1       1  35.0      1      0  53.1000
4         0       3  35.0      0      0   8.0500

survived      0
pclass        0
age         177
sibsp         0
parch         0
fare          0
dtype: int64

In [3]:
!pip install ycimpute

Requirement already satisfied: ycimpute in c:\users\musta\anaconda3\lib\site-packages (0.2)
Requirement already satisfied: scikit-learn>=0.17.1 in c:\users\musta\anaconda3\lib\site-packages (from ycimpute) (1.0.2)
Requirement already satisfied: numpy>=1.10 in c:\users\musta\anaconda3\lib\site-packages (from ycimpute) (1.21.5)
Requirement already satisfied: scipy in c:\users\musta\anaconda3\lib\site-packages (from ycimpute) (1.7.3)
Requirement already satisfied: torch>=1.1.0 in c:\users\musta\anaconda3\lib\site-packages (from ycimpute) (1.13.0)
Requirement already satisfied: six in c:\users\musta\anaconda3\lib\site-packages (from ycimpute) (1.16.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\musta\anaconda3\lib\site-packages (from scikit-learn>=0.17.1->ycimpute) (2.2.0)
Requirement already satisfied: joblib>=0.11 in c:\users\musta\anaconda3\lib\site-packages (from scikit-learn>=0.17.1->ycimpute) (1.1.0)
Requirement already satisfied: typing-extensions in c:\users\musta\anaconda3\lib\site-packages (from torch>=1.1.0->ycimpute) (4.1.1)

## KNN Algoritması

In [15]:
from ycimpute.imputer import knnimput

In [16]:
var_names = list(df)

In [17]:
var_names

['survived', 'pclass', 'age', 'sibsp', 'parch', 'fare']

In [18]:
import numpy as np
n_df = np.array(df)
n_df[0:10]

array([[ 0.    ,  3.    , 22.    ,  1.    ,  0.    ,  7.25  ],
       [ 1.    ,  1.    , 38.    ,  1.    ,  0.    , 71.2833],
       [ 1.    ,  3.    , 26.    ,  0.    ,  0.    ,  7.925 ],
       [ 1.    ,  1.    , 35.    ,  1.    ,  0.    , 53.1   ],
       [ 0.    ,  3.    , 35.    ,  0.    ,  0.    ,  8.05  ],
       [ 0.    ,  3.    ,     nan,  0.    ,  0.    ,  8.4583],
       [ 0.    ,  1.    , 54.    ,  0.    ,  0.    , 51.8625],
       [ 0.    ,  3.    ,  2.    ,  3.    ,  1.    , 21.075 ],
       [ 1.    ,  3.    , 27.    ,  0.    ,  2.    , 11.1333],
       [ 1.    ,  2.    , 14.    ,  1.    ,  0.    , 30.0708]])

In [19]:
dff = knnimput.KNN(k = 4).complete(n_df)

Imputing row 1/891 with 0 missing, elapsed time: 0.122
Imputing row 101/891 with 0 missing, elapsed time: 0.123
Imputing row 201/891 with 0 missing, elapsed time: 0.124
Imputing row 301/891 with 1 missing, elapsed time: 0.125
Imputing row 401/891 with 0 missing, elapsed time: 0.126
Imputing row 501/891 with 0 missing, elapsed time: 0.127
Imputing row 601/891 with 0 missing, elapsed time: 0.127
Imputing row 701/891 with 0 missing, elapsed time: 0.128
Imputing row 801/891 with 0 missing, elapsed time: 0.129

In [20]:
dff

array([[ 0.        ,  3.        , 22.        ,  1.        ,  0.        ,
         7.25      ],
       [ 1.        ,  1.        , 38.        ,  1.        ,  0.        ,
        71.2833    ],
       [ 1.        ,  3.        , 26.        ,  0.        ,  0.        ,
         7.925     ],
       ...,
       [ 0.        ,  3.        , 26.02641356,  1.        ,  2.        ,
        23.45      ],
       [ 1.        ,  1.        , 26.        ,  0.        ,  0.        ,
        30.        ],
       [ 0.        ,  3.        , 32.        ,  0.        ,  0.        ,
         7.75      ]])

In [21]:
type(dff)

numpy.ndarray

In [22]:
import pandas as pd
dff = pd.DataFrame(dff,columns = var_names )
dff

     survived  pclass        age  sibsp  parch     fare
0         0.0     3.0  22.000000    1.0    0.0   7.2500
1         1.0     1.0  38.000000    1.0    0.0  71.2833
2         1.0     3.0  26.000000    0.0    0.0   7.9250
3         1.0     1.0  35.000000    1.0    0.0  53.1000
4         0.0     3.0  35.000000    0.0    0.0   8.0500
..        ...     ...        ...    ...    ...      ...
886       0.0     2.0  27.000000    0.0    0.0  13.0000
887       1.0     1.0  19.000000    0.0    0.0  30.0000
888       0.0     3.0  26.026414    1.0    2.0  23.4500
889       1.0     1.0  26.000000    0.0    0.0  30.0000
890       0.0     3.0  32.000000    0.0    0.0   7.7500

[891 rows x 6 columns]

In [23]:
type(dff)

pandas.core.frame.DataFrame

In [24]:
dff.isnull().sum()

survived    0
pclass      0
age         0
sibsp       0
parch       0
fare        0
dtype: int64