# Gözlem ve Değişken Seçimi : Loc & iLoc

In [2]:
import numpy as np
import pandas as pd
m = np.random.randint(1,30,(10,3))
df = pd.DataFrame(m, columns = ["var1","var2","var3"])
df

   var1  var2  var3
0     7    20    10
1    27    27     1
2    24    23    24
3    18    15     7
4    27    14    21
5    18    25    19
6     6    11    24
7    11    16     5
8    27    22    24
9    23    12    25

In [3]:
# loc : tanımlandığı şekli ile seçim yapmak için kullanılır

In [4]:
df.loc[0:3]

   var1  var2  var3
0     7    20    10
1    27    27     1
2    24    23    24
3    18    15     7

In [5]:
# iloc : alışık olduğumuz indeksleme mantığı ile seçim yapar

In [6]:
df.iloc[0:3]

   var1  var2  var3
0     7    20    10
1    27    27     1
2    24    23    24

In [7]:
df[0:3]

   var1  var2  var3
0     7    20    10
1    27    27     1
2    24    23    24

In [8]:
df.iloc[0,0]

7

In [11]:
df[0,0] # hata verir

In [13]:
df.iloc[:3,:2]

   var1  var2
0     7    20
1    27    27
2    24    23

In [ ]:
df.loc[0:3,0:2] # hata verir

In [22]:
df.loc[0:2]

   var1  var2  var3
0     7    20    10
1    27    27     1
2    24    23    24

In [23]:
df.loc[0:2,"var3"]

0    10
1     1
2    24
Name: var3, dtype: int32

In [26]:
df.iloc[0:2,"var3"] # hata alırız

In [27]:
df.iloc[0:2]["var3"]

0    10
1     1
Name: var3, dtype: int32