# Gruplama (Grouping)

In [5]:
import pandas as pd
df = pd.DataFrame({
                    "groups" : ["A","B","C","A","B","C"],
                    "data": [10,11,52,23,43,55]
            }, columns = ["groups","data"]
    )
df

  groups  data
0      A    10
1      B    11
2      C    52
3      A    23
4      B    43
5      C    55