# Kategorik Değişkenler İçin Eksik Değer Atama

In [1]:
import numpy as np
import pandas as pd
V1 = np.array([1,3,6,np.NaN,7,1,np.NaN,9,15])
V4 = np.array(["IT",np.nan,"IK","IK","IK","IK","IK","IT","IT"], dtype=object)

df = pd.DataFrame(
        {"maas" : V1,
        "departman" : V4}        
)

df

   maas departman
0   1.0        IT
1   3.0       NaN
2   6.0        IK
3   NaN        IK
4   7.0        IK
5   1.0        IK
6   NaN        IK
7   9.0        IT
8  15.0        IT

### Katogorik değişkenlerdeki eksikleri gidermek için en pratik yöntem, verimli olan yol mod işlemidir. En sık gözlenen terim neyse onu atamaktır.

In [3]:
df["maas"].mean()

6.0

In [4]:
df["maas"].mode()

0    1.0
Name: maas, dtype: float64

In [5]:
df["departman"].mode()

0    IK
Name: departman, dtype: object

In [6]:
df["departman"].mode()[0]

'IK'

In [8]:
df["departman"].fillna(df["departman"].mode()[0])

0    IT
1    IK
2    IK
3    IK
4    IK
5    IK
6    IK
7    IT
8    IT
Name: departman, dtype: object

In [9]:
df # inplace diyerek direkt güncelleyebiliriz.

   maas departman
0   1.0        IT
1   3.0       NaN
2   6.0        IK
3   NaN        IK
4   7.0        IK
5   1.0        IK
6   NaN        IK
7   9.0        IT
8  15.0        IT

### tablodaki bir önceki değerle doldurmak istersek

In [10]:
df["departman"].fillna(method  = "ffill")

0    IT
1    IT
2    IK
3    IK
4    IK
5    IK
6    IK
7    IT
8    IT
Name: departman, dtype: object

### tablodaki bir sonraki değerle doldurmak istersek

In [11]:
df["departman"].fillna(method  = "bfill")

0    IT
1    IK
2    IK
3    IK
4    IK
5    IK
6    IK
7    IT
8    IT
Name: departman, dtype: object